@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  background-color: #111111;
  font-family: "Poppins", sans-serif;
}

.card {
  --bg-color: #111;
}

.loader{
  color: rgb(124, 124, 124);
  font-weight: 500;
  font-size: 25px;
  box-sizing: content-box;
  height: 40px;
  display: flex;
}

.loader p {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.words {
  overflow: hidden;
  position: relative;
}

.words::after{
  content: "";
  position: absolute;
  background: linear-gradient(
    var(--bg-color) 10%,
    transparent 30%,
    transparent 70%,
    var(--bg-color) 90%
  );
  z-index: 20;
}

.word{
  display: block;
  padding-left: 6px;
  color: #956afa;
  animation: spin 4s infinite;
}

@keyframes spin {
  10% {
    transform: translateY(-102%);
  }

  25% {
    transform: translateY(-100%);
  }

  35% {
    transform: translateY(-202%);
  }

  50% {
    transform: translateY(-200%);
  }

  60% {
    transform: translateY(-302%);
  }

  75% {
    transform: translateY(-300%);
  }

  85% {
    transform: translateY(-402%);
  }

  100% {
    transform: translateY(-400%);
  }
}